<% provide(:title, "トップページ") %>
<div class="static_pages_image">
  <%= image_tag 'static_pages/1659801964-huge.jpg', id: "static_pages"%>
  <p>人と社会をつなげる<br>新しい未来の電気づくり</P>
</div>
<div class="container">
  <div class="center jumbotron">
    <h1>MATCHING-AC</h1>
    <p>私達の生活に欠かせないエネルギーとなる電気ですが、<br>
       今や電気の無い生活など想像できない時代です。<br>
       そんな中、電気工事士の需要は右肩上がりで<br>
       未経験でも資格があれば採用する企業も増えてきています。<br>
       ただ、資格を保有していてもそれを活かせる企業・現場でなければ<br>
       宝の持ち腐れになってしまいます。<br>
       そこで資格を最大限に活かせるようにこのサイトでは、<br>
       <span>ご自身の保有資格にマッチした企業をより効率的に発見でき、<br>
       企業側は求める資格にマッチした人材を合理的に発見する事ができます。</span>
    </p>
  </div>
</div>
