@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 50px;
  background: #fffcfc;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

img {
  width:100%;
  max-width: 100%;
  height: auto;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

.panel{
  padding: 30px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
}

.panel a{
  color: #777;
}

/* static_pages */

.static_pages_image {
  position: relative;
  background-size: cover;
  height:100%;
}

.static_pages_image::before{
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}

.static_pages_image p {
  position: absolute;
  font-size: 4vw;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: rgb(255, 255, 255);
}

.jumbotron{
  background: #222;
  border-radius: 15px;
  padding: 45px;
  margin-top: 30px;
}

.jumbotron h1{
  color: rgb(255, 255, 255);
}

.jumbotron p{
  color: rgb(255, 255, 255);
  line-height: 65px;
}

.jumbotron p span{
  color: #ffff66;
}

@media screen and (max-width: 767px){
  .jumbotron p{
    font-size: 15px;
  }
}

.btn-default{
  color: rgb(255, 255, 255);
  background: #222;
  margin-top: 8px;
  border-color: #222;
}

/* form */

.box {
  width: 400px;
  height: auto;
  margin: 60px auto 0;
  border-radius: 4px;
  border: 1px #ddd solid;
}

.box-inner {
  padding: 20px 26px;
}

h1 {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 10px;
  padding-bottom: 4px;
  color: #111111;
}

.box-avater{
  margin-bottom: 20px;
}

.box-name{
  margin-bottom: 13px;
}

.box-email {
  margin-bottom: 20px;
}

.box-profile{
  margin-bottom: 20px;
}

.box-password {
  margin-bottom: 22px;
}

.box-sex{
  margin-bottom: 20px;
}

.box-age{
  margin-bottom: 30px;
}

.box-qualification {
  margin-bottom: 22px;
}

.box-delete{
  margin-bottom: 22px;
}

.box-delete a{
  color: red;
}

.box-mypage a{
  color: #111111;
}

.box-email label, .box-password label {
  font-weight: 700;
  font-size: 13px;
  padding-left: 2px;
  padding-bottom: 2px;
}

.box-email input[type="email"], .box-password input[type="password"],
.box-name input[type="text"] {
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 31px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
}

.box-age input[type="number"] {
  border-style: none;
  box-sizing: border-box;
  width: 30%;
  height: 31px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
}

.box-password a {
  font-size: 13px;
}

.box-login, .box-update {
  margin-bottom: 26px;
  padding-top: 10px;
}

.box-login input[type="submit"], .box-update input[type="submit"] {
  border-style: none;
  width: 100%;
  height: 31px;
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
  border-radius: 3px;
  border: 1px #a88734 solid;
}

.box-login input[type="submit"]:hover, .box-update input[type="submit"]:hover {
  cursor: pointer;
  background: #f0c14b;
}

.remember {
  font-size: 13px;
  margin-top: 18px;
  padding-left: 3px;
}

.box-newuser p {
  text-align: center;
  font-size: 12px;
  color: #767676;
}

.box-newuser p span {
  text-decoration: line-through;
  text-decoration-color: #e7e7e7;
}

.box-newuser a {
  display: block;
  width: 100%;
  height: 31px;
  font-size: 13px;
  color: #111;
  line-height: 31px;
  text-align: center;
  background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
  border-radius: 3px;
  border: 1px #a2a6ac solid;
  margin-top: 22px;
}

.box-newuser a:hover {
  background: #e7e9ec;
}

/* sidebar */

.img-circle{
  height: 200px;
  width: 200px;
  float: left;
  margin-right: 30px;
  margin-top: 30px;
}

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 3em;
      text-align: left;
      letter-spacing: -1px;
      margin-top: 40px;
      word-break: break-all;
    }
    p {
      margin-top: 10px;
    }
  }
}

.qualification{
  width: 650px;
  margin-top: 40px;
  display: flex;
}

.profile{
  margin-top: 0px;
}

.btn-primary{
  width: 300px;
  margin-top: 35px;
}

.user_info{
  margin-left: 50px;
  margin-right: 50px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  margin-top: 30px;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    margin-left: 20px;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

@media screen and (max-width: 767px){
  .qualification{
    width: 400px;
  }
  .profile{
    width: 400px;
  }
  .btn-primary{
    width: 150px;
    margin-top: 35px;
  }
  .stats a{
    margin-left: 0;
    padding: 0 5px;
  }
  aside section h1{
    font-size: 2.5em;
  }
}

/* index */

.img-list{
  height: 75px;
  width: 75px;
}

.companies, .users, .matchers{
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
  a{
    color: #111111;
    font-size: large;
  }
}

.search_fild{
  margin-top: 20px;
  line-height: 25px;
  border: 2px solid;
}

/* chats */

#chats{
  padding: 20px 10px;
  text-align: right;
  font-size: 14px;
  background: #7da4cd;
}

.fukidasi {
  width: 100%;
  margin: 10px 10px;
  overflow: hidden;
}

.fukidasi .faceicon {
  float: left;
  margin-right: -50px;
  width: 40px;
}

.fukidasi .faceicon img{
  width: 90%;
  height: auto;
  border-radius: 50%;
}

.fukidasi .chatting {
  width: 100%;
  text-align: left;
}

.says {
  display: inline-block;
  position: relative;
  margin: 0 0 0 50px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #edf1ee;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

.says p {
  margin: 0;
  padding: 0;
}

.mycomment {
  margin: 10px 0;
}

.mycomment p {
  display: inline-block;
  position: relative;
  margin: 0 15px 0 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #30e852;
  font-size: 15px;
}

.mycomment p:after {
  content: "";
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

.message-field{
  text-align:center;
}
